APP_PORT=8080
DB_PORT=5432
DB_NAME=restaurant_backend_db
DB_USER=restaurant_backend_user
DB_PASSWORD=restaurant_backend_password
SPRING_PROFILES_ACTIVE=prod
JWT_SECURITY_TOKEN=dev-placeholder
JWT_EXPIRATION=3600
TZ=America/Sao_Paulo


